# Ignore node_modules inside velora-backend
velora-backend/node_modules/

# Ignore .env file inside velora-backend
velora-backend/.env

# Ignore FontAwesome folder or file inside velora-backend
velora-backend/fontawesome-free-7.0.0-web/

.vscode